*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, black 0%, blue 35%, aqua 75%)
    
}
form{
    width: 24%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}